# Authentication
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
DB_NAME=
MONGODB_URI=

# Email / SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=    # the email of the developer/admin
SMTP_PASS=    # get this code by 2 step verification of gmail and then create a app and get the password